@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie List";
}
@model IEnumerable<AddMoviesModel>
<div>
    <h2>Here are the movies currently on the list</h2>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Edited</th>
                <th>Lent To</th>
                <th>Notes</th>
                <th>Edit Movie Info</th>
                <th>Delete Movie from List</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Assignment3.Models.AddMoviesModel x in Model)
            {
                //partial view moviesummary
                <partial name="MovieSummary" model="x" />
            
            }
        </tbody>
    </table>
</div>